<br>
<br>
<br>
<br>
<div class="d-flex flex-row justify-content-around">

    <div class="col-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Tìm kiếm..." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn m-0 btn-primary" type="submit" (click)="searchTitle()">Tìm</button>
        </div>
      </div>
    </div>
    

    <div class="d-flex flex-row col-3" >
        <mat-form-field>
            <mat-label>Thêm keyword</mat-label>
            <mat-select [formControl]="keyWordSelect" multiple>
                <mat-select-trigger>
                    {{keyWordSelect.value?.[0] || ''}}
                    <span *ngIf="(keyWordSelect.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(keyWordSelect.value?.length || 0) - 1}} {{keyWordSelect.value?.length === 2 ? 'other' : 'others'}})
      </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topping of listKeyWord" [value]="topping" disabled="true">{{topping}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit" (click)="addMoreKeyWord()" class="btn btn-round btn-just-icon" title="Add more keyword">
            <i class="material-icons">add</i>
            <div class="ripple-container"></div>
        </button>
    </div>

    <div class="d-flex flex-row col-3">
        <mat-form-field>
            <mat-label>Thêm đánh giá</mat-label>
            <mat-select [formControl]="keyKind" multiple>
                <mat-select-trigger>
                    {{keyKind.value?.[0] || ''}}
                    <span *ngIf="(keyKind.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(keyKind.value?.length || 0) - 1}} {{keyKind.value?.length === 2 ? 'other' : 'others'}})
      </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topping of listKeyWord" [value]="topping" disabled="true">{{topping}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit" (click)="addMoreKeyWord()" class="btn btn-round btn-just-icon" title="Add more keyword">
            <i class="material-icons">add</i>
            <div class="ripple-container"></div>
        </button>
    </div>
    <!--    <div class="input-group mb-3">-->
    <!--      <input-->
    <!--              type="text"-->
    <!--              class="form-control"-->
    <!--              placeholder="Search by title"-->
    <!--              [(ngModel)]="title"-->
    <!--      />-->
    <!--      <div class="input-group-append">-->
    <!--        <button-->
    <!--                class="btn btn-outline-secondary"-->
    <!--                type="button"-->
    <!--                (click)="searchTitle()"-->
    <!--        >-->
    <!--          Search-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->
</div>
<div class="col-md-12">
    <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
    ></pagination-controls>
    <!--    <select (change)="handlePageSizeChange($event)">-->
    <!--      <option *ngFor="let size of pageSizes" [ngValue]="size">-->
    <!--        {{ size }}-->
    <!--      </option>-->
    <!--    </select>-->
</div>


<div class="container bootdey">
    <div class="row cont">
        <!-- Product Item -->
        <ng-container *ngFor="let item of productList | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">
            <div class="product-grid col-xs-6 col-sm-6 col-md-6 mt-3 mb-3">
                <div class="product-item">
                    <div class="image">
                        <a href="{{item.link}}"><img src="/assets/img/Facebook_Logo.png" alt="Product 1"></a>
                    </div>
                    <div class="caption">
                        <div class="name text-center">
                            <a class="product-link" href="{{item.link}}">{{item.text_summary}}</a>
                        </div>
                        <div class="price">
                            <span>{{item.datePublish}}</span>
                        </div>
                        <div class="cart">
                            <button type="button" (click)="addtocart(item)" class="btn btn-primary">Lưu bài viết</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                    <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                </div>
            </div>

        </ng-container>
        <!-- <ng-container *ngFor="let item of productsTea">
          <div class="product-grid col-xs-12 col-sm-6 col-md-3">
            <div class="product-item">
              <div class="image">
                <a href="#"><img src="{{item.img}}" alt="Product 1"></a>
              </div>
              <div class="caption">
                <div class="name text-center">
                  <a href="#">{{item.name}}</a>
                </div>
                <div class="price">
                  <span>{{item.price}} đồng</span>
                </div>
                <div class="cart">
                  <button type="button" (click)="addtocart(item)" class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
              <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
              <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
            </div>
          </div>

        </ng-container>
        <ng-container *ngFor="let item of productsCake">
          <div class="product-grid col-xs-12 col-sm-6 col-md-3">
            <div class="product-item">
              <div class="image">
                <a href="#"><img src="{{item.img}}" alt="Product 1"></a>
              </div>
              <div class="caption">
                <div class="name text-center">
                  <a href="#">{{item.name}}</a>
                </div>
                <div class="price">
                  <span>{{item.price}} đồng</span>
                </div>
                <div class="cart">
                  <button type="button" (click)="addtocart(item)" class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
              <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
              <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
            </div>
          </div>

        </ng-container>
        <ng-container *ngFor="let item of productsFood">
          <div class="product-grid col-xs-12 col-sm-6 col-md-3">
            <div class="product-item">
              <div class="image">
                <a href="#"><img src="{{item.img}}" alt="Product 1"></a>
              </div>
              <div class="caption">
                <div class="name text-center">
                  <a href="#">{{item.name}}</a>
                </div>
                <div class="price">
                  <span>{{item.price}} đồng</span>
                </div>
                <div class="cart">
                  <button type="button" (click)="addtocart(item)" class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
              <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
              <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
            </div>
          </div>

        </ng-container> -->

        <!-- <div class="product-grid col-xs-12 col-sm-6 col-md-3">
          <div class="product-item">
            <div class="image">
              <a href="#"><img src="https://images.foody.vn/res/g5/48683/s120x120/29a0cbfe-a582-4b57-baf3-99823649-8134c0ad-211030124651.jpeg" alt="Product 1"></a>
            </div>
            <div class="caption">
              <div class="name text-center">
                <a href="#">Product 1</a>
              </div>
              <div class="price">
                <span>$866.00</span>
              </div>
              <div class="cart">
                <button type="button" class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
            <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
            <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
          </div>
        </div> -->
    </div>
</div>

