<div class="main-content">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Số lượng bài viết theo Facebook</h4>
                    <div *ngIf="listCount.length >0">
                        <p class="card-category">Bảng ghi chú: </p>
                        <p class="card-category" *ngFor="let item of listCount2">keyWord : {{item.keyword}}, mô tả: {{convertKeyWord(item.keyword)}} , số lượng: {{item.count}} </p>
                    </div>
                    <p class="card-category">
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated 4 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Số lượng bài viết theo New</h4>
                    <div *ngIf="listCount.length >0">
                        <p class="card-category">Bảng ghi chú: </p>
                        <p class="card-category" *ngFor="let item of listCount">keyWord : {{item.keyword}}, mô tả: {{convertKeyWord(item.keyword)}} , số lượng: {{item.count}} </p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            <div class="card card-chart">-->
<!--                <div class="card-header card-header-warning">-->
<!--                    <div class="ct-chart" id="websiteViewsChart2"></div>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <h4 class="card-title">Số lượng bài viết theo Facebook</h4>-->
<!--                    <div *ngIf="listCount.length >0">-->
<!--                        <p class="card-category">Bảng ghi chú: </p>-->
<!--                        <p class="card-category" *ngFor="let item of listCount2">keyWord : {{item.keyword}}, mô tả: {{convertKeyWord(item.keyword)}} , số lượng: {{item.count}} </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card-footer">-->
<!--                    <div class="stats">-->
<!--                        <i class="material-icons">access_time</i> campaign sent 2 days ago-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<!--<div class="col-md-4">-->
<!--    <div class="card card-chart">-->
<!--        <div class="card-header card-header-warning">-->
<!--            <div class="ct-chart" id="websiteViewsChart"></div>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title">Email Subscriptions</h4>-->
<!--            <p class="card-category">Last Campaign Performance</p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--            <div class="stats">-->
<!--                <i class="material-icons">access_time</i> campaign sent 2 days ago-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
